.Ishikawa-diagram {
	padding: 100px 0px 100px 200px;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
	font-size: 18px;
	.top-spines {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-left: 60px;
		grid-gap: 1em;
		@media screen and (min-width: 1441px) and (max-width: 1919px) {
			margin-left: 0px;
		}
		@media screen and (min-width: 1281px) and (max-width: 1440px) {
			margin-left: 0px;
		}
		@media screen and (max-width: 1280px) {
			margin-left: 0px;
		}
		.category-causes {
			display: flex;
			flex-direction: column;
			.horizontal-lines-container {
				display: grid;
				grid-template-rows: repeat(6, 1fr);
				grid-gap: 16px;
				align-items: center;
				border-right: 4px inset #333333;
				height: 100%;
				width: 100%;
				transform: rotate(-25deg);
				@media screen and (min-width: 1281px) and (max-width: 1440px) {
					transform: rotate(-25deg);
				}
				@media screen and (max-width: 1280px) {
					transform: rotate(-15deg);
					height: 350px;
					width: 70%;
				}
				.single-top-cause-container {
					display: flex;
					flex-direction: row;
					align-items: center;
					height: 1px;
					width: 80%;
					transform: rotate(25deg) translateX(85px) translateY(-30px);
					@media screen and (max-width: 1280px) {
						transform: rotate(15deg) translateX(0px) translateY(-35px);
					}
					.top-horizontal-line {
						border-bottom: 3px dashed #666666;
						height: 1px;
						width: 100%;
						.bg-white {
							background-color: #fcfcfc;
						}
					}
				}
				.top-causes {
					color: var(--softBlack);
					width: 80%;
					transform: rotate(25deg) translateX(13px) translateY(-30px);
					margin-bottom: 70px;
					@media screen and (min-width: 1281px) and (max-width: 1440px) {
						width: 75%;
						margin-bottom: 25px;
						transform: rotate(25deg) translateX(13px) translateY(-50px);
					}
					@media screen and (max-width: 1280px) {
						width: 75%;
						transform: rotate(15deg) translateX(13px) translateY(-40px);
						margin-bottom: 0px;
					}
				}
			}
		}
	}
	.main-spine {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		height: 1px;
		margin: -95px 0px;
		.spine {
			grid-column: 1/8;
			border-width: 5px;
			border-style: inset;
			border-color: #666666;
			height: 1px;
			width: 100%;
			position: relative;
			box-shadow: 4px 4px 10px rgba(68, 68, 68, 0.25);
			@media screen and (min-width: 1281px) and (max-width: 1440px) {
				width: 94%;
			}
			@media screen and (max-width: 1280px) {
				width: 92%;
			}
		}
		.effect-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin-bottom: auto;
			@media screen and (min-width: 1281px) and (max-width: 1440px) {
				margin-bottom: 0px;
				:hover {
					background-color: #aaaaaa;
				}
			}
			@media screen and (max-width: 1280px) {
				margin-bottom: 0px;
				:hover {
					background-color: #aaaaaa;
				}
			}
			.Hla {
				@media screen and (min-width: 1281px) and (max-width: 1440px) {
					display: none;
					font-size: 12px;
				}
				@media screen and (max-width: 1280px) {
					display: none;
					font-size: 12px;
				}
			}
			.effect {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100px;
				width: 100px;
				background-color: #666666;
				border: 1px solid #c4c4c4;
				border-radius: 50%;
				box-shadow: 4px 4px 10px rgba(68, 68, 68, 0.25);
				position: absolute;
				@media screen and (min-width: 1281px) and (max-width: 1440px) {
					height: 60px;
					width: 60px;
					margin: 0px;
				}
				@media screen and (max-width: 1280px) {
					height: 40px;
					width: 40px;
					margin: 0px;
				}
			}
		}
	}
	.bottom-spines {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1em;
		margin-top: 10px;
		@media screen and (min-width: 1281px) and (max-width: 1440px) {
			margin-left: 0px;
			grid-gap: 0px;
		}
		@media screen and (max-width: 1280px) {
			margin-left: 0px;
			grid-gap: 0px;
		}
		.category-causes {
			display: flex;
			flex-direction: column;
			.horizontal-lines-container {
				display: grid;
				grid-template-rows: repeat(6, 1fr);
				grid-gap: 16px;
				border-right: 4px inset #333333;
				height: 100%;
				width: 100%;
				transform: rotate(25deg);
				@media screen and (min-width: 1281px) and (max-width: 1440px) {
				}
				@media screen and (max-width: 1280px) {
					height: 350px;
					transform: rotate(15deg);
					width: 70%;
				}
				.single-bottom-cause-container {
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-top: 50px;
					height: 1px;
					width: 80%;
					transform: rotate(-25deg) translateX(85px) translateY(30px);
					@media screen and (max-width: 1280px) {
						transform: rotate(-15deg) translateX(0px) translateY(30px);
						margin-top: 0px;
					}
					.bottom-horizontal-line {
						border-bottom: 3px dashed #666666;
						height: 1px;
						width: 100%;
						@media screen and (min-width: 1281px) and (max-width: 1440px) {
						}
					}
				}
				.bottom-causes {
					color: var(--softBlack);
					margin-top: 70px;
					width: 80%;
					transform: rotate(-25deg) translateX(13px) translateY(30px);
					@media screen and (min-width: 1281px) and (max-width: 1440px) {
						margin-top: 25px;
					}
					@media screen and (max-width: 1280px) {
						transform: rotate(-15deg) translateX(13px) translateY(30px);
						margin-top: 0px;
					}
				}
			}
		}
	}
	.causes {
		background-color: #666666;
		padding: 2px 8px;
		border-radius: 50%;
		color: #fafafa;
		font-weight: bold;
	}
	.reasons {
		padding: 2px 8px;
		font-weight: 600;
		border: 1px solid #666666;
		border-radius: 50%;
		color: #666666;
	}
	.translate50 {
		transform: translateX(-50px);
	}
}
